<br />

<div class="booyah-box col-10 offset-1">
  <br />
  <h1>MEET OUR TEAM</h1>
  <p>Our team works hard to deliver you the best content and is always looking to improve.  We would love to hear from you.  What would you like to see more of?  Less of?  What would make things easier?  Let us know!</p> 
  
  <br />
  <div class="row">
    <div class="col-md-4">
      <%= image_tag "DSC06674.JPG", class: 'pic-tina' %>
      
    </div>
    <div class="col-sm-8">
      <h3>Tina Lee</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
    </div>
  </div>
  
  <div class="contact">
    <p>Email: tina.yuting.lee@gmail.com</p>
  </div>
  
  <br />
  <br />
  

</div>
