.pic-tina {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  margin: 0px 10px 10px 10px;
  
}

h1 {
  font-family: "Helvetica Neue", Helvetica;
}

h3 {
  font-family: "Helvetica Neue", Helvetica;
  margin-bottom: 10px;
}

p {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  margin-left: 10px;
}